body {
  background: rgb(255, 246, 255);
}

.btn-w3r {
  background: #f20d70; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #f20d70 0%,
    #aa094f 50%,
    #f986b8 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f20d70),
    color-stop(50%, #aa094f),
    color-stop(100%, #f986b8)
  );
  background: -webkit-linear-gradient(
    top,
    #f20d70 0%,
    #aa094f 50%,
    #f986b8 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #f20d70 0%,
    #aa094f 50%,
    #f986b8 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    #f20d70 0%,
    #aa094f 50%,
    #f986b8 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    #f20d70 0%,
    #aa094f 50%,
    #f986b8 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f20d70', endColorstr='#f986b8',GradientType=0 ); /* IE6-9 */
  color: white;
  border-color: #f20d70;
}

.btn-w3r:hover {
  border-color: #470824;
}

.btn-w3r > a {
  color: white;
}
